# Top level .editorconfig file used for this project used everywhere
root = true

#### General Formatting Options ####

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Unix Scripts
[*.{bash,fish,sh,zsh}]
end_of_line = lf

# Windows Scripts
[*.{bat,cmd,ps1}]
end_of_line = crlf

# Text & CMake Files
[*.{txt,md,cmake}]
indent_style = tab

# C & C++ Source Code
[*.{c,h,cpp,hpp,inl}]
indent_style = tab

# Data & Serilaization Files
[*.{json,xml}]
indent_style = tab
